<fieldset class="fishut-details-paraphernalia">
  <legend>{{labels.paraphernaliaPropertiesHeader}}</legend>
  <div class="form-group">
    <label>{{labels.subtype}}</label>
    <select data-fishut-flag="subtype">
      <option value="">{{labels.subtypeNone}}</option>
      {{#each paraphernalia.subtypeSelectOptions}}
        <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label>{{labels.appliesTo}}</label>
    <div class="fishut-details-paraphernalia__applies-to">
      {{#each paraphernalia.adminOptions}}
        <label class="checkbox">
          <dnd5e-checkbox
            data-fishut-flag="appliesTo"
            data-fishut-admin="{{this.id}}"
            {{#if this.checked}}checked{{/if}}
          ></dnd5e-checkbox>
          {{this.label}}
        </label>
      {{/each}}
    </div>
    <p class="hint">{{labels.appliesToHint}}</p>
  </div>
</fieldset>

{{> fishut-details-bypass}}
