<section class="fishut-paraphernalia-subtypes">
  <header class="fishut-paraphernalia-subtypes__intro">
    <p>{{labels.intro}}</p>
  </header>

  <fieldset class="fishut-paraphernalia-subtypes__builtins">
    <legend>{{labels.builtinsHeader}}</legend>
    <ul class="fishut-paraphernalia-subtypes__list" data-fishut-readonly>
      {{#each builtins}}
        <li class="fishut-paraphernalia-subtypes__row" data-id="{{this.id}}">
          <code class="fishut-paraphernalia-subtypes__id">{{this.id}}</code>
          <span class="fishut-paraphernalia-subtypes__label">{{this.label}}</span>
          <span class="fishut-paraphernalia-subtypes__readonly">{{../labels.readOnlyMarker}}</span>
        </li>
      {{/each}}
    </ul>
  </fieldset>

  <fieldset class="fishut-paraphernalia-subtypes__customs">
    <legend>{{labels.customsHeader}}</legend>
    {{#if customs.length}}
      <ul class="fishut-paraphernalia-subtypes__list" data-fishut-rows>
        {{#each customs}}
          <li class="fishut-paraphernalia-subtypes__row" data-index="{{@index}}">
            <input
              type="text"
              name="customs.{{@index}}.id"
              value="{{this.id}}"
              placeholder="{{../labels.idPlaceholder}}"
              pattern="[a-z0-9]+(-[a-z0-9]+)*"
              required
            />
            <input
              type="text"
              name="customs.{{@index}}.label"
              value="{{this.label}}"
              placeholder="{{../labels.labelPlaceholder}}"
              required
            />
            <button type="button" data-action="removeRow" data-index="{{@index}}">
              {{../labels.removeRow}}
            </button>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="fishut-paraphernalia-subtypes__empty">{{labels.emptyHint}}</p>
    {{/if}}
    <button type="button" data-action="addRow" class="fishut-paraphernalia-subtypes__add">
      {{labels.addRow}}
    </button>
  </fieldset>

  <footer class="fishut-paraphernalia-subtypes__footer">
    <button type="submit" class="fishut-paraphernalia-subtypes__save">
      <i class="fa-solid fa-floppy-disk"></i>
      {{labels.save}}
    </button>
  </footer>
</section>
